

.weather {
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px -2px 20px 2px #3d2d13;
    color: #412920;
    background-color: #edcdaf;
    padding: 0 20px 25px 25px;
    margin: 25px auto 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city{
    font-weight: 600;
    font-size: 33px;
    line-height: 1.25;
    margin: 0;
    letter-spacing: 2px;
}

.weather-description{
    font-weight: 500;
    font-size: 29px;
    line-height: 1.25;
    margin: 0;
}

.weather-icon{
    width: 130px;
}

.temperature{
    font-weight: 500;
    font-size: 93px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details{
    width: 100%;
    padding-left: 100px;
}

.parameter-row{
    display: flex;
    justify-content: space-between;

}

.parameter-label{
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

.parameter-labelDT{
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #3d3d13;
    text-decoration-thickness: 1px;
}

.parameter-value{
    text-align: right;
    font-weight: 800;
    font-size: 17px;
}




