body {
  margin: 0;
  font-family: Palatino, Verdana, Optima, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d7c6b6;
}

code {
  font-family: Palatino, Verdana, Optima, Arial;
}

